{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:jest/recommended",
		"standard"
  ],
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "rules": {
    "no-unused-vars": 0
  }
}
